@import 'tailwindcss';

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-blue: #3f82b0;
  --color-secondary-blue: #1f3d5d;
  --color-light-blue: #d3ecfb;
  --color-main-bg: #f1f1f1;
  --color-gray: gray;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-main-bg);
  color: var(--color-black);
  font-family:
    Neue Montreal,
    Arial,
    sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utilities {
  .clip-path-hidden {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }

  .animate-spin-img {
    animation: rotate-360 5s infinite linear;
  }

  @keyframes rotate-360 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .marquee-track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite;
    /* Default speed */
  }

  @media (max-width: 768px) {
    .marquee-track {
      animation: marquee 28s linear infinite;
      /* Faster on tablets/phones */
    }
  }

  @media (max-width: 480px) {
    .marquee-track {
      animation: marquee 22s linear infinite;
      /* Even faster on small phones */
    }
  }

  @media (min-width: 1280px) {
    .marquee-track {
      animation: marquee 30s linear infinite;
      /* Slower on large desktops */
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

a:focus,
input:focus,
button:focus {
  outline: none;
  /* remove default */
  /* box-shadow: 0 0 0 2px rgb(25, 24, 24); */
  /* glowing red */
}